# Yelp Scrape

In [1]:
#pip install BeautifulSoup

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
texts=[]
stars=[]
for i in range(0,768):
    link="https://www.yelp.com/biz/katzs-delicatessen-new-york?start="+str((i*10))+"&rr=5#reviews"
    page=requests.get(link)
    soup=BeautifulSoup(page.content,"html.parser")
    reviews=soup.find_all("p",{"class":"comment__09f24__D0cxf css-qgunke"})
    for review in reviews:
        texts.append(review.text)
        stars.append(5)
df_5stars_1=pd.DataFrame(columns=["Reviews","Stars"])
df_5stars_1["Reviews"]=texts
df_5stars_1["Stars"]=stars
df_5stars_1.shape
#We scrape 5 star reviews.

In [ ]:
df_5stars_1.to_excel("df_5stars_1.xlsx",index=False) #We save the data.

In [ ]:
texts=[]
stars=[]
for i in range(0,400):
    link="https://www.yelp.com/biz/katzs-delicatessen-new-york?start="+str((i*10))+"&rr=4#reviews"
    page=requests.get(link)
    soup=BeautifulSoup(page.content,"html.parser")
    reviews=soup.find_all("p",{"class":"comment__09f24__D0cxf css-qgunke"})
    for review in reviews:
        texts.append(review.text)
        stars.append(4)
df_4stars_1=pd.DataFrame(columns=["Reviews","Stars"])
df_4stars_1["Reviews"]=texts
df_4stars_1["Stars"]=stars
df_4stars_1.shape

In [ ]:
df_4stars_1.to_excel("df_4stars_1.xlsx",index=False)

In [ ]:
texts=[]
stars=[]
for i in range(0,176):
    link="https://www.yelp.com/biz/katzs-delicatessen-new-york?start="+str((i*10))+"&rr=3#reviews"
    page=requests.get(link)
    soup=BeautifulSoup(page.content,"html.parser")
    reviews=soup.find_all("p",{"class":"comment__09f24__D0cxf css-qgunke"})
    for review in reviews:
        texts.append(review.text)
        stars.append(3)
df_3stars_1=pd.DataFrame(columns=["Reviews","Stars"])
df_3stars_1["Reviews"]=texts
df_3stars_1["Stars"]=stars
df_3stars_1.shape

In [ ]:
df_3stars_1.to_excel("df_3stars_1.xlsx",index=False)

In [ ]:
texts=[]
stars=[]
for i in range(0,87):
    link="https://www.yelp.com/biz/katzs-delicatessen-new-york?start="+str((i*10))+"&rr=2#reviews"
    page=requests.get(link)
    soup=BeautifulSoup(page.content,"html.parser")
    reviews=soup.find_all("p",{"class":"comment__09f24__D0cxf css-qgunke"})
    for review in reviews:
        texts.append(review.text)
        stars.append(2)
df_2stars_1=pd.DataFrame(columns=["Reviews","Stars"])
df_2stars_1["Reviews"]=texts
df_2stars_1["Stars"]=stars
df_2stars_1.shape

In [ ]:
df_2stars_1.to_excel("df_2stars_1.xlsx",index=False)

In [ ]:
texts=[]
stars=[]
for i in range(0,85):
    link="https://www.yelp.com/biz/katzs-delicatessen-new-york?start="+str((i*10))+"&rr=1#reviews"
    page=requests.get(link)
    soup=BeautifulSoup(page.content,"html.parser")
    reviews=soup.find_all("p",{"class":"comment__09f24__D0cxf css-qgunke"})
    for review in reviews:
        texts.append(review.text)
        stars.append(1)
df_1stars_1=pd.DataFrame(columns=["Reviews","Stars"])
df_1stars_1["Reviews"]=texts
df_1stars_1["Stars"]=stars
df_1stars_1.shape

In [ ]:
df_1stars_1.to_excel("df_1stars_1.xlsx",index=False)

In [3]:
df_5stars_1=pd.read_excel("df_5stars_1.xlsx")
df_5stars_2=pd.read_excel("df_5stars_2.xlsx")
df_5stars_3=pd.read_excel("df_5stars_3.xlsx")
df_5stars_4=pd.read_excel("df_5stars_4.xlsx")
df_5stars_5=pd.read_excel("df_5stars_5.xlsx")
df_5stars_6=pd.read_excel("df_5stars_6.xlsx")
df_5stars_7=pd.read_excel("df_5stars_7.xlsx")
df_4stars_1=pd.read_excel("df_4stars_1.xlsx")
df_4stars_2=pd.read_excel("df_4stars_2.xlsx")
df_4stars_3=pd.read_excel("df_4stars_3.xlsx")
df_3stars_1=pd.read_excel("df_3stars_1.xlsx")
df_3stars_2=pd.read_excel("df_3stars_2.xlsx")
df_2stars_1=pd.read_excel("df_2stars_1.xlsx")
df_1stars_1=pd.read_excel("df_1stars_1.xlsx")
df=pd.concat([df_5stars_1,df_5stars_2,df_5stars_3,df_5stars_4,df_5stars_6,df_5stars_7,df_4stars_1,df_4stars_2,
              df_4stars_3,df_3stars_1,df_3stars_2,df_2stars_1,df_1stars_1],ignore_index=True)
df.shape
#We collect data in a single dataframe.

(13618, 2)

In [4]:
df.head()

                                             Reviews  Stars
0  OK, it's getting to the point where every time...      5
1  Waited in a line so long, I thought I was at a...      5
2  Katz's is an institution for a reason. Absolut...      5
3  Katz's never ever disappoints! Don't let the l...      5
4  I felt like a tourist in here.  But that's OK....      5

In [5]:
df.tail()

                                                 Reviews  Stars
13613  TWO WORDS:  TOURIST TRAP.  This place is way o...      1
13614  I will start off by saying horrible, horrible,...      1
13615  Hadn't been to Katz's in about 10 years. Was i...      1
13616  unbelievable 15.75 for a sandwich visitors don...      1
13617  Where do I begin? My mother and I were visitin...      1

In [8]:
df=df.drop_duplicates(["Reviews"]) #We delete duplicate data.
df.shape

(13238, 2)

In [9]:
df.head()

                                             Reviews  Stars
0  OK, it's getting to the point where every time...      5
1  Waited in a line so long, I thought I was at a...      5
2  Katz's is an institution for a reason. Absolut...      5
3  Katz's never ever disappoints! Don't let the l...      5
4  I felt like a tourist in here.  But that's OK....      5

In [10]:
df.tail()

                                                 Reviews  Stars
13613  TWO WORDS:  TOURIST TRAP.  This place is way o...      1
13614  I will start off by saying horrible, horrible,...      1
13615  Hadn't been to Katz's in about 10 years. Was i...      1
13616  unbelievable 15.75 for a sandwich visitors don...      1
13617  Where do I begin? My mother and I were visitin...      1

In [11]:
df.to_excel("Yelp_Dataset.xlsx",index=False)